body{
    background-color: rgb(0, 0, 0);
    font-family:Century Gothic;
    color:rgb(255, 255, 255);
}
header{
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
    background-color:rgb(98, 98, 98);
    border-radius: 15px;
    
}
table{
    border-radius: 15px;
    background-color:rgb(87, 87, 87);
    margin: 2em auto;
    width: 90%;
}
td{
    text-align: center;
    font-size: 2em;
}
footer{
    background-color: rgb(8, 8, 8);
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
}
a{
    color:rgb(255, 255, 255);
}
#center{
    
    background-color:rgb(98, 98, 98);
    width:25%;
   
    margin: auto;
    margin-top: 10%;
}
#textForm{
    text-align: center;
    padding: 1em;
}
.error{
    background-color: red;
}